<script>
	digitalData = {
		page: {
			pageInfo: {
				effectiveDate: '',
				expiryDate: '',
				language: 'en-US',
				publishDate: '',
				publisher: 'IBM Corporation',
				version: 'v18',
				focusArea: "WCP - Cloud services - all other",
				ibm: {
					contentProducer: 'github repo',
					country: 'US',
					industry: 'ZZ',
					owner: 'Erica Raymond',
					siteID: 'ESTSPE',
					subject: 'SUZP00,SUZZZ,SUZ01,SU001',
					type: 'CT739'
				},
                hotjar: {
                    enabled: true
                },
                optimizely: {
                    enabled: true
                },
			}
		}
	};
</script>