<meta name="description" content="{{meta_description|safe}}" /> 
<meta name="keywords" content="{{meta_keywords|safe}}" /> 
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1" />      
<link rel="shortcut icon" href="https://www.ibm.com/favicon.ico" />
<meta name="geo.country" content="US" /> 
<meta name="dcterms.rights" content="© Copyright IBM Corp. 2018" /> 
<meta name="dcterms.date" content="2018-10-01" /> 
<meta name="robots" content="index, follow" />
