{% set pageTitleClass = "ibm-type-i ibm-mb-4" %}
{% if page_title_class %}
	{% set pageTitleClass = page_title_class %}
{% endif %}


<div class="ibm-band ibm-background-teal-50 ibm-padding-bottom-1 ibm-padding-top-1 ibm-alternate-background">
	<div class="ibm-columns ibm-padding-bottom-0">
		<div class="ibm-col-1-1">
			<h2 class="ibm-h1 ibm-padding-bottom-0">Design and code</h2> 
		</div>
	</div> 
</div>