<nav role="navigation" aria-label="Navigation for Design">
    <div id="ibm-navigation">
        <ul id="ibm-primary-links" role="tree" aria-labelledby="ibm-pagetitle-h1">
			<li role="presentation" id="ibm-overview"><a role="treeitem" href="../">Design and code</a></li>
			<li role="presentation"><a role="treeitem" href="../adaptive-line-breaks/">Adaptive line breaks</a></li>
            <li role="presentation"><a role="treeitem" href="../anchor-links/">Anchor links</a></li>
            <li role="presentation"><a role="treeitem" href="../animation/">Animation</a></li>
            <li role="presentation"><a role="treeitem" href="../attachment-links/">Attachment links</a></li>
            <li role="presentation"><a role="treeitem" href="../audio-player/">Audio player</a></li>
            <li role="presentation"><a role="treeitem" href="../back-to-top/">Back to top links</a></li>
            <li role="presentation"><a role="treeitem" href="../block-links/">Block links</a></li>
            <li role="presentation"><a role="treeitem" href="../blocks/">Blocks</a></li>
            <li role="presentation"><a role="treeitem" href="../breadcrumbs/">Breadcrumbs</a></li>
            <li role="presentation"><a role="treeitem" href="../buttons/">Buttons</a></li>
            <li role="presentation"><a role="treeitem" href="../cards/">Cards</a></li>
            <li role="presentation"><a role="treeitem" href="../carousels/">Carousels</a></li>
            <li role="presentation"><a role="treeitem" href="../co-branding/">Co-branding and third-party logos</a></li>
            <li role="presentation"><a role="treeitem" href="../color-palette/">Color palette</a></li>
            <li role="presentation"><a role="treeitem" href="../contact-module/">Contact module</a></li>
            <li role="presentation"><a role="treeitem" href="../cookies/">Cookies</a></li>
            <li role="presentation"><a role="treeitem" href="../css-classes/">CSS classes</a></li>
            <li role="presentation"><a role="treeitem" href="../css3/">CSS3</a></li>
            <li role="presentation"><a role="treeitem" href="../data-tables/">Data tables</a></li>
            <li role="presentation"><a role="treeitem" href="../date-picker/">Date picker</a></li>
            <li role="presentation"><a role="treeitem" href="../date-time/">Date and time</a></li>
            <li role="presentation"><a role="treeitem" href="../design-checklist/">Design checklist</a></li>
            <li role="presentation"><a role="treeitem" href="../design-kit/">Design kit</a></li>
            <li role="presentation"><a role="treeitem" href="../disable-modules/">Disable modules</a></li>
            <li role="presentation"><a role="treeitem" href="../disable-widgets/">Disable widgets</a></li>
            <li role="presentation"><a role="treeitem" href="../disadvantages-of-long-pages/">Disadvantages of long pages</a></li>
            <li role="presentation"><a role="treeitem" href="../external-links/">External links </a></li>
            <li role="presentation"><a role="treeitem" href="../footers/">Footers</a></li>
            <li role="presentation"><a role="treeitem" href="../forms/">Forms</a></li>
            <li role="presentation"><a role="treeitem" href="../full-width-sections/">Full-width sections</a></li>
            <li role="presentation"><a role="treeitem" href="../naming-policy/">Globalization link naming policy</a></li>
            <li role="presentation"><a role="treeitem" href="../grids/">Grids</a></li>
            <li role="presentation"><a role="treeitem" href="../hide-images/">Hide content or images</a></li>
            <li role="presentation"><a role="treeitem" href="../horizontal_rules/">Horizontal rules </a></li>
            <li role="presentation"><a role="treeitem" href="../html5/">HTML5</a></li>
            <li role="presentation"><a role="treeitem" href="../icons/">Icons</a></li>
            <li role="presentation"><a role="treeitem" href="../image-circles/">Image circles</a></li>
            <li role="presentation"><a role="treeitem" href="../imagery/">Imagery</a></li>
            <li role="presentation"><a role="treeitem" href="../infographics/">Infographics</a></li>
            <li role="presentation"><a role="treeitem" href="../lead-spaces/">Lead spaces</a></li>
            <li role="presentation"><a role="treeitem" href="../legal-footer/">Legal footer text</a></li>
            <li role="presentation"><a role="treeitem" href="../lists/">Lists</a></li>
            <li role="presentation"><a role="treeitem" href="../loading-spinner/">Loading spinner</a></li>
            <li role="presentation"><a role="treeitem" href="../locale-selector/">Locale selector</a></li>
            <li role="presentation"><a role="treeitem" href="../logo-animation/">Logo animation</a></li>
            <li role="presentation"><a role="treeitem" href="../masonry/">Masonry</a></li>
            <li role="presentation"><a role="treeitem" href="../masthead-search/">Masthead search</a></li>
            <li role="presentation"><a role="treeitem" href="../mastheads/">Mastheads</a></li>
            <li role="presentation"><a role="treeitem" href="../media-objects/">Media objects</a></li>
            <li role="presentation"><a role="treeitem" href="../migration-of-acquisitions/">Migration of acquisition</a></li>
            <li role="presentation"><a role="treeitem" href="../mte-modules/">MTE modules</a></li>
            <li role="presentation"><a role="treeitem" href="../navigation/">Navigation</a></li>
            <li role="presentation"><a role="treeitem" href="../notice-choice/">Notice and Choice</a></li>
            <li role="presentation"><a role="treeitem" href="../overlays/">Overlays </a></li>
            <li role="presentation"><a role="treeitem" href="../pagination-controls/">Pagination controls</a></li>
            <li role="presentation"><a role="treeitem" href="../parallax/">Parallax scrolling </a></li>
            <li role="presentation"><a role="treeitem" href="../pull-quotes/">Pull quotes</a></li>
            <li role="presentation"><a role="treeitem" href="../responsive-design/">Responsive design</a></li>
            <li role="presentation"><a role="treeitem" href="../rss-feed-display/">RSS feed display</a></li>
            <li role="presentation"><a role="treeitem" href="../scrollbar-widget/">Scrollbar widget</a></li>
            <li role="presentation"><a role="treeitem" href="../scrolled-into-view/">Scrolled into view</a></li>
            <li role="presentation"><a role="treeitem" href="../seo/">Search Engine Optimization (SEO)</a></li>
            <li role="presentation"><a role="treeitem" href="../set-same-height/">Set same height</a></li>
            <li role="presentation"><a role="treeitem" href="../share-this-content/">Share content</a></li>
            <li role="presentation"><a role="treeitem" href="../show-hide/">Show/Hide</a></li>
            <li role="presentation"><a role="treeitem" href="../social-media/">Social media</a></li>
            <li role="presentation"><a role="treeitem" href="../spacing-classes/">Spacing classes</a></li>
            <li role="presentation"><a role="treeitem" href="../step-indicator/">Step indicator</a></li>
            <li role="presentation"><a role="treeitem" href="../survey-module/">Survey module</a></li>
            <li role="presentation"><a role="treeitem" href="../syntax-highlighter/">Syntax highlighter</a></li>
            <li role="presentation"><a role="treeitem" href="../text-alignment/">Text alignment</a></li>
            <li role="presentation"><a role="treeitem" href="../text/">Text</a></li>
            <li role="presentation"><a role="treeitem" href="../third-party/">Third-party hosting</a></li>
            <li role="presentation"><a role="treeitem" href="../tooltip/">Tooltips</a></li>
            <li role="presentation"><a role="treeitem" href="../video-looper/">Video looper</a></li>
            <li role="presentation"><a role="treeitem" href="../video/">Video</a></li>
            <li role="presentation"><a role="treeitem" href="../widgets/">Widgets</a></li>
        </ul>
    </div>
</nav>