	<div class="ibm-sitenav-menu-container">
		<div class="ibm-sitenav-menu-name"><a href="/standards/web/">Northstar web standards</a></div>
		<div class="ibm-sitenav-menu-list">
			<ul role="menubar">
				<li role="presentation"><a role="menuitem" href="/standards/web/v18/design/">Design and code</a></li>
				<li role="presentation"><a role="menuitem" href="/standards/web/research/">Research</a></li>
				<li role="presentation"><a role="menuitem" href="/standards/web/v18/a-z-index/">A-Z Index</a></li>
			</ul>
		</div>
	</div>
