{% extends 'layouts/base_page_template.njk' %}

{% set page_title_prefix = "IBM Northstar - " %}


{% block common_file_includes %}

	<link href="https://1.www.s81c.com/common/v18/css/www.css" rel="stylesheet">
	<link href="https://1.www.s81c.com/common/v18/css/syntaxhighlighter.css" rel="stylesheet">
	<link href="https://1.www.s81c.com/common/v18/css/grid-fluid.css" rel="stylesheet">
	<link href="https://1.www.s81c.com/common/v18/css/forms.css" rel="stylesheet">
	<link href="https://1.www.s81c.com/common/v18/css/tables.css" rel="stylesheet">
	<link href="https://1.www.s81c.com/common/v18/css/textcolumns.css" rel="stylesheet">

	<script src="https://1.www.s81c.com/common/stats/ida_stats.js"></script>
	<script src="https://1.www.s81c.com/common/v18/js/www.js"></script>
	<script src="https://1.www.s81c.com/common/v18/js/syntaxhighlighter.js"></script>
	<script src="https://1.www.s81c.com/common/v18/js/dyntabs.js"></script>
	<script src="https://1.www.s81c.com/common/v18/js/forms.js"></script>
	<script src="https://1.www.s81c.com/common/v18/js/tables.js"></script>


	
	<!-- script>
	    (function(h,o,t,j,a,r){
	        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
	        h._hjSettings={hjid:42920,hjsv:6};
	        a=o.getElementsByTagName('head')[0];
	        r=o.createElement('script');r.async=1;
	        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
	        a.appendChild(r);
	    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
	</script -->


	
{% endblock %}


