{% extends 'layouts/v18_page_template.njk' %}



{% block page_content %}

	{% include 'partials/v18_menu_nav.njk' %}

	{% block leadspace %}
		<div class="ibm-band ibm-background-red-50 ibm-padding-bottom-1 ibm-padding-top-1 ibm-alternate-background">
			<div class="ibm-columns ibm-padding-bottom-0">
				<div class="ibm-col-1-1">
					<h2 class="ibm-h1 ibm-padding-bottom-0">Customer Research and Insights</h2> 
				</div>
			</div> 
		</div>
	{% endblock %}

	{% block content %}	{% endblock %}
	
{% endblock %}



